.movie-card-list {
    padding-top: 10px;
    padding-bottom: 30px;
    background: #202020;
}

.section__cards {
    max-width: calc(100% - 140px);
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 32px 20px;
}

@media screen and (max-width: 1230px) {
    .section__cards {
        max-width: calc(100% - 140px);
        grid-template-columns: repeat(3, 1fr);
    }
}