.card__movie {
    max-width: 270px;
    max-height: 218px;
    background: #222222;
    border-radius: 6px;
}

.card__img {
    max-width: 270px;
    max-height: 151px;
}

.card__element {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
}

.card__title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
}

.card__button-save {
    width: 16px;
    height: 16px;
    padding: 0;
    background: #313131;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.card__button-save:active {
    background: #3DDC84;
}

.movie__time {
    font-family: 'Inter', 'Arial', sans-serif;
    color: #8B8B8B;
    font-size: 11px;
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 14px;;
}
