.profile {
    max-width: 410px;
    margin: 74px auto 70px;
}

.profile__title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}

.profile__container {
    margin-top: 123px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
}

.profile__input-title {
    width: 141px;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: left;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}

.profile__name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #424242;

}

.profile__email {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
}

.profile__input {
    width: 100%;
    background: none;
    border: none;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.profile__button {
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    background: none;
    border: none;
    transition: opacity 0.3s;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.7;
}

.profile__button-edit {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    color: #FFF;
}

.profile__button-exit {
    margin: 16px auto 0;
    padding: 0;
    font-weight: 500;
    color: #EE3465;
}

@media screen and (max-width: 989px) {
    .profile {
        margin-top: 236px;
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 989px) {
    .profile__buttons {
        margin-top: 210px;
    }
}

@media screen and (max-width: 420px) {
    .profile {
        max-width: calc(100% - 60px);
        margin-top: 70px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 420px) {
    .profile__container  {
        margin-top: 80px;
    }
}

@media screen and (max-width: 420px) {
    .profile__buttons {
        margin-top: 379px;
    }
}

@media screen and (max-width: 420px) {
    .profile__button {
        font-size: 12px;
    }
}