.burger__btn {
    display: none;
    background-image: url(../../images/btn-burger-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #202020;
    border: none;
    width: 44px;
    height: 44px;
    padding: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.burger__btn:hover {
    opacity: 0.7;
}

.burger__btn-hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .burger__btn {
        display: block;
    }
}

@media screen and (max-width: 555px) {
    .burger__btn {
        width: 40px;
        height: 43px;
        background-image: url(../../images/mimi-btn-burger-menu.svg);
        background-position: top -2px center;
    }
}