.search-form {
    max-width: calc(100% - 140px);
    margin: 0 auto;
}

.search-form__container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.search-form__form {
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 9px 0 0 9px;
    background: #2F2F2F;
    display: flex;
    align-items: center;
}

.search-form__icon {
    width: 34px;
    height: 34px;
    margin: 19px 10px 19px 19px;
}

.search-form__input {
    width: 100%;
    background: #2F2F2F;
    border: none;
    font-family: 'Inter', 'Arial', sans-serif;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
}

.search-form__input:focus {
    outline: 1px solid #424242;
}

.search-form__btn {
    margin-right: 30px;
    width: 80px;
    height: 34px;
    border: none;
    padding: 0;
    background-image: url(../../images/find-btn.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #2F2F2F;
    transition: opacity 0.3s;
    cursor: pointer;
}

.search-form__btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 989px) {
    .search-form {
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 989px) {
    .search-form__form {
        margin-top: 80px;
        margin-bottom: 109px;
    }
}

@media screen and (max-width: 989px) {
    .search-form__btn {
        margin-right: 19px;
    }
}

@media screen and (max-width: 630px) {
    .search-form {
        max-width: calc(100% - 20px);
        padding: 0;
    }
}

@media screen and (max-width: 630px) {
    .search-form__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 630px) {
    .search-form__icon {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .search-form__form {
        border-radius: 9px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 630px) {
    .search-form__input {
        margin-left: 19px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
