.section__filte-checkbox {
	max-height: 72px;
	margin-top: 70px;
	border: none;
	border-radius: 0 9px 9px 0;
	background: #2F2F2F;
}

.checkbox-container {
	display: flex;
    align-items: center;
    gap: 14px;
	height: 40px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-left: 1px solid #424242;
	padding-left: 29px;
    padding-right: 30px;
}

.checkbox {
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
    cursor: pointer;
}

.checkbox .checkbox-switch {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 36px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 25%/50%;
	vertical-align: top;
	background: #343434;
	transition: .2s;
}

.checkbox .checkbox-switch:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #A0A0A0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}

.checkbox input[type=checkbox] {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox input[type=checkbox]:not(:disabled):active + .checkbox-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox input[type=checkbox]:checked + .checkbox-switch {
	background: #3DDC84;
}

.checkbox input[type=checkbox]:checked + .checkbox-switch:before {
	transform:translateX(18px);
    background: #FFF;
}

.checkbox__text {
	margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
	font-style: normal;
    color: #FFF;
}

@media screen and (max-width: 989px) {
    .section__filte-checkbox{
        margin-top: 80px;
    }
}

@media screen and (max-width: 989px) {
    .checkbox-container {
		padding-left: 19px;
		padding-right: 20px;
		gap: 15px;
    }
}

@media screen and (max-width: 630px) {
	.section__filte-checkbox {
		margin-top: 35px;
		margin-bottom: 34px;
	}
}

@media screen and (max-width: 630px) {
	.checkbox-container {
		justify-content: center;
		padding: 0;
		margin: 0;
		border-radius: 0;
		border-left: none;
		background: #202020;
	}
}

@media screen and (max-width: 630px) {
	.checkbox__text {
		font-size: 11px;
	}
}