.login__input-field {
    display: flex;
    flex-direction: column;
    height: 67px;
}

.login__input-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B8B8B;
}

.login__input {
    width: 100%;
    margin-top: 5px;
    padding: 0 0 10px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    background: #202020;
    border-bottom: 1px solid #424242;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.login__input:focus {
    outline: 1px solid #424242;
}

.login__error-visible {
    margin-top: 6px;
    margin-bottom: 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EE3465;
}

.login__error-visible:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 420px) {
    .login__input {
        width: 260px;
    }
}